.navbar {
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    height: 75px;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.nav-item {
    padding: 10px;
    padding-right: 90px;
}

.below-nav {
    display: flex;
    flex-direction: row;
}

/* .dropdown {
    position: relative;
    display: inline-block;
} */

/* .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content li{
    padding: 10px;
}

.dropdown:hover .dropdown-content{
    display: block;
} */

.navButton1 {
    margin-left: 650px;
    margin-top: 15px;
    background-color: blueviolet;
    text-decoration: antiquewhite;
    height: 30px;
    border-radius: 6px;
}

.content {
    padding-left: 100px;
    padding-right: 100px;
}

/* .info{
    width: 70%;
} */

.show {
    width: 30px;
}

#firstCol {
    background-color: red;
    text-align: right;
    margin-right: 30px;
}

#secondCol {
    background-color: aqua;
    margin-left: 30px;
    margin-right: 30px;
    text-align: left;
}

.show {
    width: 300px;
    height: 300px;
    border-radius: 6px;
    border-color: black;
    border: 10px;
    background-color: pink;
}

.rprs {
    width: 300px;
    height: 300px;
    border-color: black;
    border: 10px;
    border-radius: 6px;
    background-color: beige;
}

.try {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.rightPanel {
    display: flex;
    flex-direction: column
}


/* Videolist */

.video-thumbnail {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    position: relative;
}

.video-thumbnail img {
    width: 100px;
    height: 80px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.play-button {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.popupbox-content {
    text-align: center;
}

.popupbox-content iframe {
    max-width: 100%;
    height: auto;
}



/* Slider css */

.date-slider {
    /* width: 80%; */
    /* margin: 0 auto; */
}

.date-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 4px, rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
}